.fondo {
    background: linear-gradient(top, black, white);
}
.header1{
    background: linear-gradient(top, black, white);
}
ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    text-decoration:none;
    display:block;
}

.nav li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:160px;
    padding: 0px;
    z-index: 100;
    box-shadow: 0px 0px 10px #ccc;
}

.nav li:hover > ul, .nav li > ul:hover{
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li { 
    top:0px;
    width: 100%;
}

.nav li:hover,.nav li:hover ul{
    background: #eee;
}
.nav li ul li:hover, .nav li ul li a:hover{
    background: #ccc;
}
.nav li ul li{
    padding: 10px 10px;
}
.nav li ul hr{
    border-color: #bbb;
    margin: 0px;
}
.acciones{
    text-align: center;
}
.acciones form{
    display: inline-block;
}
.bg-white{
    background-color: #f9f9f9;
}
thead{

}